.scoreboard {
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    margin: 20px 25%;
    border-radius: 10px;
    padding: 10px;
  }
  
  h1 {
    margin: 10px 20px;
    text-align: left;
    flex: 1;
  }
  
  .scores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0.5;
  }
  
  .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 0 30px;
    color: #233142;
  }
  
  .scoreTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px; 
  }
  
  .scoreNumber {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 768px) {
    .scoreboard {
      margin: 20px 10%;
      align-items: center;
      padding: 5px;
    }
  
    .scores {
      flex-direction: row;
      width: 100%;
    }
  
    .score {
      width: 100%;
      padding: 10px 0;
    }
  
  }
  
  @media (max-width: 480px) {
    .scoreboard {
      margin: 10px 5%;
      padding: 5px;
      width: 90%; /* Add width to ensure it fits within the viewport */
    }
  
    .scoreTitle {
      font-size: 12px; /* Adjust font-size for smaller screens */
    }
  
    .scoreNumber {
      font-size: 18px; /* Adjust font-size for smaller screens */
    }
  }
  